{%if index%}
{%capture share_url%}{{site.url}}{{post.url}}{%endcapture%}
{%else%}
{%capture share_url%}{{site.url}}{{page.url}}{%endcapture%}
{%endif%}
<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ share_url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ share_url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-url="{{ share_url }}" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
  <div class="fb-like" data-href="{{ share_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  {% endif %}
  {% if site.hatena_bookmark %}
  <a href="http://b.hatena.ne.jp/entry/{{ share_url }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  {% endif %}
</div>
